<div class="card-row" id="tutors">

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="functions-avatar"></div>
			<md-card-title>
				Matt Forshew
			</md-card-title>
			<md-card-subtitle>BMath Actuarial Science</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/matt.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"Hi, I'm Matt.  I am an actuary, currently working at RBC Insurance. Growing up, math was always my favourite subject (that and gym), so when it came to going to university, math was the logical choice. I received my BMath from the UW, majoring in Actuarial Science with minors in Statistics and Finance."
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('mforeshew@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button onclick="window.open('https://www.linkedin.com/in/matt-foreshew-7b082560/', '_blank')"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="city-avatar"></div>
			<md-card-title>
				Will Schinkel
			</md-card-title>
			<md-card-subtitle>BASc. Civil Engineering</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/will.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"Hi, my name is Will and I am currently working as a Project Engineer at RWDI Consulting. I recieved my BASc from UW in 2013 and have been using math ever since. While I do enjoy math, fishing is what I do best. Got math (or fishing) questions? Come ask me Sunday afternoons!""
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('will.schinkel@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button onclick="window.open('https://www.linkedin.com/in/william-schinkel/', '_blank')"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="create-avatar"></div>
			<md-card-title>
			Sarah Forshew, ESL
			</md-card-title>
			<md-card-subtitle>BA Education</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/sarah.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"I'm Sarah, an elementary school teacher from the Chicago area, recently married and now living in Canada! Throughout university, I tutored students in both Language Arts and Math. Since graduating, I've taught Grade 4 for the last three years in a bilingual (English/Spanish) classroom at a public school."
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('sariperki@yahoo.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button (click)="openSnackBar('Unavailable', 'dismiss');"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="memory-avatar"></div>
			<md-card-title>
				Blair Sharpe
			</md-card-title>
			<md-card-subtitle>BEng. Electronics Engineering</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/blair.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"Hi, I'm Blair, I'm the <strong>odd</strong> person in the group. But, don't worry, that makes me number <strong>1</strong>. Just kidding. But I still think its funny. I'm currently in my third year of Electronic Systems Engineering. My hobby consists of playing around on small computers and building new things!"
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('blair.a.sharpe@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button onclick="window.open('https://www.linkedin.com/in/blair-sharpe-567237127/', '_blank')"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="computer-avatar"></div>
			<md-card-title>
				Gareth Sharpe, OCT
			</md-card-title>
			<md-card-subtitle>BA. Math, BSc. Computer Science</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/gareth.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"Hi, I'm Gareth. I am currently a 4th year computer science student with a previous degree in BA Math and certification
				to teach high school mathematics. Before university, I never really enjoyed math and I wasn't all that good at it. Sound
				like you? Don't worry - I get it and I can help."
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('garethjsharpe@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button onclick="window.open('https://www.linkedin.com/in/gareth-sharpe-a0285552', '_blank')"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
			<div md-card-avatar class="equalizer-avatar"></div>
			<md-card-title>
				Jordan Oshust
			</md-card-title>
			<md-card-subtitle>BEng Biomed Eng, MEng Electrical & Comp Eng</md-card-subtitle>
		</md-card-header>
		<img md-card-image src="assets/jordan.jpg">
		<md-card-content>
			<p class="text" style="font-family: 'Artifika', serif;">
				"My name is Jordan and I am currently working as a software developer at Manulife Financial. I graduated with a Master's degree after completing a BEng in Biomedical Engineering. I know from experience that math can be challenging, but I will pass on things which I have learned to make math easier for you."
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('j.oshust@yahoo.ca', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button onclick="window.open('https://www.linkedin.com/in/jordan-oshust/', '_blank')"><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>
</div>

