<div class="card-row" id="tutors">

	<md-card class="card">
		<md-card-header>
		<div md-card-avatar class="functions-avatar"></div>
			<md-card-title>
			Matt Forshew
			</md-card-title>
			<md-card-subtitle>BMath Actuarial Science</md-card-subtitle>
		</md-card-header>
		 <img md-card-image src="assets/blair.jpg">
		<md-card-content>
			<p>
			Gareth is HUGE and loves Briana.
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('mforeshew@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
		<div md-card-avatar class="city-avatar"></div>
			<md-card-title>
			Will Schinkel
			</md-card-title>
			<md-card-subtitle>BASc. Civil Engineering</md-card-subtitle>
		</md-card-header>
		 <img md-card-image src="assets/blair.jpg">
		<md-card-content>
			<p>
			Gareth is HUGE and loves Briana.
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('will.schinkel@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
		<div md-card-avatar class="memory-avatar"></div>
			<md-card-title>
			Blair Sharpe
			</md-card-title>
			<md-card-subtitle>BEng. Electronics Engineering</md-card-subtitle>
		</md-card-header>
		 <img md-card-image src="assets/blair.jpg">
		<md-card-content>
			<p>
			Hi, I'm Blair, I'm the odd person in the group. But, don't worry, that makes me number 1.
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('blair.a.sharpe@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

	<md-card class="card">
		<md-card-header>
		<div md-card-avatar class="computer-avatar"></div>
			<md-card-title>
			Gareth Sharpe, OCT
			</md-card-title>
			<md-card-subtitle>BA. Math, BSc. Computer Science</md-card-subtitle>
		</md-card-header>
		 <img md-card-image src="assets/gareth.jpg">
		<md-card-content>
			<p>
			Hi, I'm Gareth. I am currently a 4th year computer science student with a previous degree in BA Math and certification
			to teach high school mathematics. Before university, I never really enjoyed math and I wasn't all that good at it. Sound
			like you? Don't worry - I get it and I can help. 
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="openSnackBar('garethjsharpe@gmail.com', 'dismiss');"><md-icon>email</md-icon> Contact</button>
			<button md-button><md-icon>share</md-icon> LinkedIn</button>
		</md-card-actions>
	</md-card>

</div>