<!-- <div class="first-crop-circle"></div> -->
<!-- <div class="second-crop-circle"></div> -->

<md-grid-list cols="4" rowHeight="3:1" class="padding">

	<md-grid-tile colspan="4">
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="3">
		<div class="first-crop-circle"></div>
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan ="1" class="text-title-left">
		We Understand
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1" class="text-left">
		There are numerous challenges that academics (specifically mathematics) can pose for 
		young people.
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1"></md-grid-tile>
	<md-grid-tile colspan="4" rowspan="1"></md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1" class="text-title-right">
		The Greatest Challenge
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="3">
		<div class="second-crop-circle"></div>
	</md-grid-tile>

	<md-grid-tile colspan="2" class="text-right">
		We also understand the greatest spiritual challenge that each one of us face - the need of forgiveness before God.
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1"></md-grid-tile>
	<md-grid-tile colspan="4" rowspan="1"></md-grid-tile>

	<md-grid-tile colspan="2" rowspan="3">
		<div class="third-crop-circle"></div>
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan ="1" class="text-title-left">
		Our Mission
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1" class="text-left">
		We want to prepare young people for their future - both academically and spiritually. Best of all? It's absolutely free.
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1"></md-grid-tile>
	<md-grid-tile colspan="4" rowspan="1"></md-grid-tile>

	<md-grid-tile colspan="2" rowspan="1" class="text-title-right">
		Come and Join Us
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="3">
		<div class="fourth-crop-circle"></div>
	</md-grid-tile>

	<md-grid-tile colspan="2" class="text-right">
		Join us for the evening at the Kitchener Gospel Hall, 218 Bleams Rd, Kitchener. Get help with your math homework and assignments, and listen to Gospel Hour. Food provided, of course.
	</md-grid-tile>

	<md-grid-tile colspan="4" rowspan="2">
		<button md-raised-button color="accent" onclick="window.open('http://eepurl.com/cHlMtb', '_blank')">
		<strong>Sign Up Free</strong>
		</button>
	</md-grid-tile>
</md-grid-list>