.banner-spacer {
	font-family: 'Artifika', serif;
	flex: 1 1 auto;
	text-align: center;
	font-size: 6vw;
}

.subbanner-spacer {
	font-family: 'Artifika', serif;
	flex: 1 1 auto;
	text-align: center;
	font-size: 1.5vw;
}

.button-row {
	justify-content: center;
	align-items: center;
	font-size: 100%;
}